* {
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(184, 211, 211);
}

.container {
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  margin: 0 15px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  flex-direction: row;

  font-size: 20px;
  font-weight: 600;
}

img {
  border-radius: 50%;
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
}

.all-details {
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;
}

fieldset {
  padding: 10px 20px;
  border: 2px solid rgb(110, 109, 109);
  border-radius: 8px;
  margin-bottom: 20px;
}

.title {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 6px 0;
  color: #333;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

sup {
  color: red;
  font-size: 13px;
}

.name,
.email,
.dob,
.age {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: 4px 0;
}

label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}

.design {
  border: 1px solid #aaa;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

input[type="date"] {
  color: #707070;
}

.fieldset-container {
  margin-bottom: 20px;
}

.fieldset-label {
  margin-bottom: 10px;
}

.name select {
  border: 1px solid #aaa;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  padding: 5px;
  height: 42px;
  margin: 8px 0;
}

textarea {
  border: 1px solid #aaa;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 8px 0;
  resize: vertical;
  box-sizing: border-box;
  width: 100%;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mobile,
.id {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  width: 48%;
}

.mob-no,
.id-no {
  display: flex;
  width: auto;
}

.no {
  border: 1px solid #aaa;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
  flex: 1;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.country,
.id-type {
  border: 1px solid #aaa;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  padding: 8px 5px;
  margin: 8px 5px 8px 0;
  width: fit-content;
}

.gender {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin: 4px 15px 4px 0;
}

.hobbies {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin-top: 4px;
}

.gender label,
.hobbies label {
  font-size: 14px;
}

h3 {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}

.mobile input[type="number"] {
  flex: 1;
  border: 1px solid #aaa;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

input[type="date"]:valid {
  color: #333;
}

.same {
  text-align: left;
  font-size: 15px;
}

.same-check {
  border: 1px solid #aaa;
  color: #333;
  margin: 8px 0;
}

.button {
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px;
  background-color: #4070f4;
}

.flex-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99%;
}

.button:hover {
  background-color: #265df2;
}

@media (max-width: 1000px) {
  .name,
  .email,
  .dob,
  .age {
    flex: 48%;
    margin: 10px 1%;
  }
  .mobile,
  .id {
    flex: 100%;
  }
  .gender,
  .hobbies {
    flex: 100%;
  }
  .fields {
    align-items: baseline;
  }
}

@media (max-width: 400px) {
  .name,
  .email,
  .dob,
  .age,
  .mobile,
  .id,
  .gender,
  .hobbies {
    flex: 100%;
  }
}

@media (max-width: 300px) {
  .mobile-no,
  .id-no {
    width: 100px;
  }
}
