@{
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <div class="container">
        <table id="userTable" class="table table-striped">
            <thead>
                <tr>
                    <th><a href="#" class="sort-link" data-sortby="UserId">User Id</a></th>
                    <th><a href="#" class="sort-link" data-sortby="Name">Name</a></th>
                    <th><a href="#" class="sort-link" data-sortby="Email">Email</a></th>

                    <th>Date of Birth</th>
                    <th>Mobile</th>
                    <th>Gender</th>
                    <th>Hobbies</th>
                    <th>File</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="pagination-container">
        <ul class="pagination"></ul>
    </div>
</body>
</html>


@section scripts {
    @Scripts.Render("~/Scripts/UserListV2.js")
}