<h2 class="text-center mb-4">News Click Count Report</h2>

@using (Html.BeginForm("ClickCountReport", "Report", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-4">
            <label for="startDate">Start Date:</label>
            @Html.TextBox("startDate", null, new { @class = "form-control", type = "date", required = "required" })
        </div>
        <div class="col-sm-4">
            <label for="endDate">End Date:</label>
            @Html.TextBox("endDate", null, new { @class = "form-control", type = "date", required = "required" })
        </div>
        <div class="col-sm-4 d-flex align-items-center">
            <button type="submit" id="bttnGenerateReport" class="btn btn-primary ml-auto">Generate Report</button>
        </div>
    </div>
}

<table class="table table-striped" id="newsTable">
    <thead>
        <tr>
            <th><a href="#" class="sort-link" data-sortBy="AgencyName">Agency</a></th>
            <th><a href="#" class="sort-link" data-sortBy="CategoryTitle">Category</a></th>
            <th>News Title</th>
            <th><a href="#" class="sort-link" data-sortBy="ClickCount">No. of Clicks</a></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="pagination"></div>

<button id="bttnGeneratePdf" class="btn btn-primary">Generate PDF</button>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    @Scripts.Render("~/Scripts/Report.js")
}
