
@{
    Layout = "~/Views/Shared/_Layoutv2.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6 col-sm-12">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <h3 class="card-title text-center">Login here...</h3>
                    </div>
                    <div class="card-body">
                        <form id="loginForm" method="post">
                            <div class="form-group">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" id="Email" name="Email" class="form-control" placeholder="Enter Email" required />
                                <div id="emailMessage"></div>
                            </div>
                            <div class="form-group">
                                <label for="Password" class="form-label">Password</label>
                                <input type="password" id="Password" name="Password" class="form-control" required />
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
                                <a href="~/Account/Register" class="text-link">New User?? Register Here!!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section scripts {
    @Scripts.Render("~/Scripts/LoginV2.js")
}