* {
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*#BodyContent {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(184, 211, 211);
}*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.checkbox {
    margin: 0,2px,0,0;
}

#DisplayUser, #DocumentGrid, #NotesGrid {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    #DisplayUser th, #DisplayUser td,
    #DocumentGrid th, #DocumentGrid td,
    #NotesGrid th, #NotesGrid td {
        border: 1px solid #aaa;
        padding: 8px;
        text-align: left;
    }

    #DisplayUser th, #DocumentGrid th, #NotesGrid th {
        background-color: #d9d9d9;
    }

    #DisplayUser tr:nth-child(even),
    #DocumentGrid tr:nth-child(even),
    #NotesGrid tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    #DisplayUser tr:hover, #DocumentGrid tr:hover, #NotesGrid tr:hover {
        background-color: #bfbfbf;
    }

#NewUser {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

    #NewUser:hover {
        background-color: #45a049;
    }


.errorMessage {
    position: absolute;
    background-color: #ffdddd;
    color: #8b0000;
    padding: 7px;
    border: 1px solid #8b0000;
    border-radius: 5px;
    font-size: 11px;
    z-index: 1;
    margin-bottom: -10px;
}

#errorMessageContainer {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 200px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    color: red;
    font-weight: bold;
}



/*body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(184, 211, 211);
}*/

/*.container {
    position: relative;
    border-radius: 10px;
    padding: 30px;
    margin: 50px 15px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}*/

header {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bolder;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace
}

.allDetails {
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

.row {
    margin-bottom: 10px;
}

fieldset {
    padding: 10px 20px;
    border: 2px solid rgb(110, 109, 109);
    border-radius: 8px;
    margin-bottom: 20px;
}

.reset {
    margin-bottom: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.title {
    padding-bottom: 10px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0;
    color: #333;
}

sup {
    color: red;
    font-size: 13px;
}

h3 {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0;
    color: #333;
}

.sameAsPresentAdd {
    font-size: 15px;
}

.errorMessage {
    display: none;
    position: absolute;
    background-color: #ffdddd;
    color: #8b0000;
    padding: 7px;
    border: 1px solid #8b0000;
    border-radius: 5px;
    font-size: 11px;
    z-index: 1;
    margin-bottom: -10px;
}

.fieldsetContainer {
    border: 2px solid #3498db;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    background-color: #ecf0f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .fieldsetContainer p {
        margin: 1%;
        white-space: nowrap;
        font-size: 16px;
        color: #202020;
    }

    .fieldsetContainer .label {
        display: inline-block;
        width: 40%;
        font-weight: bold;
        vertical-align: middle;
        padding: 1%;
        color: #000000;
        text-align: right;
    }

    .fieldsetContainer .value {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        color: #070707;
        text-align: left;
    }
