* {
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#BodyContent {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(184, 211, 211);
}
