<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFileFolderPath" value="C:\Users\supravatd\Documents\Mindfire\Student_Five_Layers\StudentLayer\LogError"/>
		<add key="LogToFile" value="true" />
		<add key="LogToTable" value="true" />
	</appSettings>

	<connectionStrings>
		<add name="db1" connectionString="data source=.; database=Student; integrated security=SSPI" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>