<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<connectionStrings><add name="EF_Demo_DBEntities" connectionString="metadata=res://*/StudentDataModel.csdl|res://*/StudentDataModel.ssdl|res://*/StudentDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EF_Demo_DB;persist security info=True;user id=sa;password=mindfire;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>